**{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: blue;
}

#main-container {
  background: yellow;
}

html {
  scroll-behavior: smooth;
}

nav {
  background-color: #333;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content:space-around;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

nav ul li a:hover{
  color: yellow;
}

section {
  padding: 60px 10px;
  min-height: 70vh;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 2px solid #000;
}


th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

thead {
  background-color: #ddd;
}

tr:hover {
  background-color: #f1f1f1;
}

button{
    color: yellow;
    background-color: blue;
    border-radius: 10%;
    padding: 10px 5px;
}

